Tugas Besar 1 Pemograman Phyton
===========

Membuka dan menampilkan file csv menggunakan import csv
-------------

In [1]:
import csv
csv_file = 'dataset3.csv'
with open(csv_file,'r') as data:
    for line in csv.reader(data):
        print(line)

['NIM', 'Tugas1', 'Tugas2', 'Quiz2', 'Quiz2', 'UTS', 'UAS']
['111010738', '80', '19', '92', '34', '46', '79']
['111010130', '84', '57', '28', '52', '83', '23']
['111010072', '42', '57', '25', '62', '70', '3']
['111010311', '38', '8', '57', '31', '86', '54']
['111010631', '92', '49', '69', '95', '3', '79']
['111010398', '18', '57', '72', '15', '97', '80']
['111010196', '8', '21', '27', '92', '21', '9']
['111010951', '62', '78', '98', '25', '23', '30']
['111010944', '58', '49', '38', '95', '28', '71']
['111010108', '8', '21', '85', '43', '42', '61']
['111010631', '84', '39', '48', '66', '6', '35']
['111010456', '68', '77', '36', '76', '72', '45']
['111010721', '66', '95', '36', '26', '74', '2']
['111010691', '92', '71', '72', '31', '10', '82']
['111010910', '68', '90', '46', '58', '18', '7']
['111010994', '56', '73', '1', '57', '83', '34']
['111010860', '76', '33', '34', '16', '9', '55']
['111010261', '18', '17', '1', '75', '7', '11']
['111010103', '68', '51', '40', '74', '65', '22']
['111010154', '72', '33', '74', '72', '10', '28']
['111010077', '54', '91', '16', '64', '64', '54']
['111010630', '46', '4', '5', '59', '42', '79']
['111010209', '68', '61', '31', '77', '23', '19']
['111010639', '92', '95', '88', '68', '97', '59']
['111010940', '84', '14', '85', '44', '17', '4']
['111010265', '84', '73', '60', '83', '0', '68']
['111010676', '68', '26', '10', '50', '31', '2']
['111010089', '65', '38', '99', '37', '62', '20']
['111010050', '77', '5', '99', '53', '82', '18']
['111010462', '55', '70', '94', '10', '1', '67']
['111010492', '61', '16', '88', '66', '63', '60']
['111010883', '1', '23', '18', '6', '60', '45']
['111010196', '52', '81', '80', '42', '95', '49']
['111010552', '48', '10', '57', '31', '77', '85']
['111010503', '74', '58', '80', '86', '17', '12']
['111010540', '81', '29', '72', '60', '76', '27']
['111010001', '76', '45', '85', '18', '32', '93']
['111010870', '73', '38', '1', '35', '68', '60']
['111010199', '41', '77', '29', '61', '74', '65']
['111010468', '66', '52', '74', '41', '40', '4']

Memasukkan data ke dalam list
----------

In [2]:
lst = []
with open(csv_file,'r') as data:
    for line in csv.reader(data):
        lst.append(line)
lst[0][3] = 'Quiz1'  #Mengganti nama variabel di baris 0 kolom 3 dengan nama Quiz1
len(lst)

41

Mengecek NIM yang sama
-------

In [3]:
rows = []
for i in range(len(lst)): 
    for j in range(len(lst[0])): 
        if lst[i][j]=='111010631': 
            print('NIM yang sama ada di baris dan kolom',i,j)
            rows.append(i)

NIM yang sama ada di baris dan kolom 5 0
NIM yang sama ada di baris dan kolom 11 0

Menghapus salah satu baris dari NIM yang sama
-----------

In [4]:
rows
len_rows = int((len(rows))/2)
counter = 0
for i in range(len_rows):
    lst.pop((rows[i]))
    counter = counter+1 #perulangan hanya dilakukan sekali
    if counter == 1:
        break
        
print('Data double sudah terhapus')
print('Banyak data yaitu : ',len(lst))

Data double sudah terhapus
Banyak data yaitu :  40

Mengecek NIM yang sama
-------

In [5]:
rows = []
for i in range(len(lst)): 
    for j in range(len(lst[0])): 
        if lst[i][j]=='111010196': 
            print('NIM yang sama ada di baris dan kolom',i,j)
            rows.append(i)

NIM yang sama ada di baris dan kolom 6 0
NIM yang sama ada di baris dan kolom 32 0

Menghapus salah satu baris dari NIM yang sama
-----------

In [6]:
rows
len_rows = int((len(rows))/2)
counter = 0
for i in range(len_rows):
    lst.pop((rows[i]))
    counter = counter+1 #perulangan hanya dilakukan sekali
    if counter == 1:
        break
        
print('Data double sudah terhapus')
print('Banyak data yaitu : ',len(lst))

Data double sudah terhapus
Banyak data yaitu :  39

Mengecek NIM/nilai yang berisi huruf
----------

In [7]:
for i in range(1,len(lst)):
    for j in range(len(lst[0])):
        lst[i][j] = int(lst[i][j])
        
print('Semua NIM sudah bernilai angka dan tidak ada NIM yang berisi huruf')

Semua NIM sudah bernilai angka dan tidak ada NIM yang berisi huruf

In [8]:
lst

[['NIM', 'Tugas1', 'Tugas2', 'Quiz1', 'Quiz2', 'UTS', 'UAS'],
 [111010738, 80, 19, 92, 34, 46, 79],
 [111010130, 84, 57, 28, 52, 83, 23],
 [111010072, 42, 57, 25, 62, 70, 3],
 [111010311, 38, 8, 57, 31, 86, 54],
 [111010398, 18, 57, 72, 15, 97, 80],
 [111010951, 62, 78, 98, 25, 23, 30],
 [111010944, 58, 49, 38, 95, 28, 71],
 [111010108, 8, 21, 85, 43, 42, 61],
 [111010631, 84, 39, 48, 66, 6, 35],
 [111010456, 68, 77, 36, 76, 72, 45],
 [111010721, 66, 95, 36, 26, 74, 2],
 [111010691, 92, 71, 72, 31, 10, 82],
 [111010910, 68, 90, 46, 58, 18, 7],
 [111010994, 56, 73, 1, 57, 83, 34],
 [111010860, 76, 33, 34, 16, 9, 55],
 [111010261, 18, 17, 1, 75, 7, 11],
 [111010103, 68, 51, 40, 74, 65, 22],
 [111010154, 72, 33, 74, 72, 10, 28],
 [111010077, 54, 91, 16, 64, 64, 54],
 [111010630, 46, 4, 5, 59, 42, 79],
 [111010209, 68, 61, 31, 77, 23, 19],
 [111010639, 92, 95, 88, 68, 97, 59],
 [111010940, 84, 14, 85, 44, 17, 4],
 [111010265, 84, 73, 60, 83, 0, 68],
 [111010676, 68, 26, 10, 50, 31, 2],
 [111010089, 65, 38, 99, 37, 62, 20],
 [111010050, 77, 5, 99, 53, 82, 18],
 [111010462, 55, 70, 94, 10, 1, 67],
 [111010492, 61, 16, 88, 66, 63, 60],
 [111010883, 1, 23, 18, 6, 60, 45],
 [111010196, 52, 81, 80, 42, 95, 49],
 [111010552, 48, 10, 57, 31, 77, 85],
 [111010503, 74, 58, 80, 86, 17, 12],
 [111010540, 81, 29, 72, 60, 76, 27],
 [111010001, 76, 45, 85, 18, 32, 93],
 [111010870, 73, 38, 1, 35, 68, 60],
 [111010199, 41, 77, 29, 61, 74, 65],
 [111010468, 66, 52, 74, 41, 40, 4]]

Mengelompokkan masing-masing nilai di dalam data menjadi satu kelompok
------------

In [9]:
nilai=[]

kolom=1
while kolom<7:
    for i in range(1,39):
        nilai.append(lst[i][kolom])
        if len(nilai)==38*kolom:
            kolom=kolom+1
            
kelompok = [nilai[i:i+38] for i in range(0, len(nilai), 38)]

In [10]:
kelompok

[[80,
  84,
  42,
  38,
  18,
  62,
  58,
  8,
  84,
  68,
  66,
  92,
  68,
  56,
  76,
  18,
  68,
  72,
  54,
  46,
  68,
  92,
  84,
  84,
  68,
  65,
  77,
  55,
  61,
  1,
  52,
  48,
  74,
  81,
  76,
  73,
  41,
  66],
 [19,
  57,
  57,
  8,
  57,
  78,
  49,
  21,
  39,
  77,
  95,
  71,
  90,
  73,
  33,
  17,
  51,
  33,
  91,
  4,
  61,
  95,
  14,
  73,
  26,
  38,
  5,
  70,
  16,
  23,
  81,
  10,
  58,
  29,
  45,
  38,
  77,
  52],
 [92,
  28,
  25,
  57,
  72,
  98,
  38,
  85,
  48,
  36,
  36,
  72,
  46,
  1,
  34,
  1,
  40,
  74,
  16,
  5,
  31,
  88,
  85,
  60,
  10,
  99,
  99,
  94,
  88,
  18,
  80,
  57,
  80,
  72,
  85,
  1,
  29,
  74],
 [34,
  52,
  62,
  31,
  15,
  25,
  95,
  43,
  66,
  76,
  26,
  31,
  58,
  57,
  16,
  75,
  74,
  72,
  64,
  59,
  77,
  68,
  44,
  83,
  50,
  37,
  53,
  10,
  66,
  6,
  42,
  31,
  86,
  60,
  18,
  35,
  61,
  41],
 [46,
  83,
  70,
  86,
  97,
  23,
  28,
  42,
  6,
  72,
  74,
  10,
  18,
  83,
  9,
  7,
  65,
  10,
  64,
  42,
  23,
  97,
  17,
  0,
  31,
  62,
  82,
  1,
  63,
  60,
  95,
  77,
  17,
  76,
  32,
  68,
  74,
  40],
 [79,
  23,
  3,
  54,
  80,
  30,
  71,
  61,
  35,
  45,
  2,
  82,
  7,
  34,
  55,
  11,
  22,
  28,
  54,
  79,
  19,
  59,
  4,
  68,
  2,
  20,
  18,
  67,
  60,
  45,
  49,
  85,
  12,
  27,
  93,
  60,
  65,
  4]]

Mencari nilai mean, max, min, median, dan standar deviasi
----------

In [11]:
statistik = [['Jenis_Nilai','Mean', 'Max', 'Median', 'Min','Std Dev']]
jenis = [['Tugas1', 'Tugas2', 'Quiz1', 'Quiz2', 'UTS', 'UAS']]

x = 0
for i in range(len(jenis)):
    for j in range(len(jenis[0])):
            statistik.append([jenis[i][j], sum(kelompok[j]) / len(kelompok[j]), max(kelompok[j]),
                         int((kelompok[j][len(kelompok[j]) // 2] + kelompok[j][~ len(kelompok[j]) // 2]) / 2),
                         min(kelompok[j]), (sum([((x - (sum(kelompok[j]) / len(kelompok[j]))) ** 2) 
                                                  for x in kelompok[j]]) / len(kelompok[j])) ** 0.5])

In [12]:
statistik

[['Jenis_Nilai', 'Mean', 'Max', 'Median', 'Min', 'Std Dev'],
 ['Tugas1', 61.1578947368421, 92, 50, 1, 21.90953447317001],
 ['Tugas2', 48.18421052631579, 95, 47, 4, 27.26657416108585],
 ['Quiz1', 54.05263157894737, 99, 10, 1, 31.278837110249622],
 ['Quiz2', 49.973684210526315, 95, 61, 6, 22.483311755149067],
 ['UTS', 48.68421052631579, 97, 53, 0, 30.398325147039802],
 ['UAS', 42.421052631578945, 93, 66, 2, 27.35789271177166]]

Mencari nilai UTS tertinggi
---------------

In [13]:
jumlah = []
a = 0
for i in range(1,len(lst)):
    if lst[i][5] > a:
        a = lst[i][5]
        jumlah.append(str(lst[i][0]))
    elif lst[i][5] == a:
        jumlah.append(str(lst[i][0]))

print('Nilai UTS tertinggi adalah : ',a)
print('Yang didapat oleh NIM : ')
for i in range(len(jumlah)):
    print(jumlah[i])

Nilai UTS tertinggi adalah :  97
Yang didapat oleh NIM :
111010738
111010130
111010311
111010398
111010639

Mencari nilai UAS terendah
-----------

In [14]:
jumlah = []
a = 100
for i in range(1,len(lst)):
    if lst[i][6] < a:
        a = lst[i][6]
        jumlah.append(str(lst[i][0]))
    elif lst[i][6] == a:
        jumlah.append(str(lst[i][0]))

print('Nilai UAS terendah adalah : ',a)
print('Yang didapat oleh NIM : ')
for i in range(len(jumlah)):
    print(jumlah[i])

Nilai UAS terendah adalah :  2
Yang didapat oleh NIM :
111010738
111010130
111010072
111010721
111010676

Mencari NIM dengan nilai quiz 1 di atas rata-rata
----------

In [15]:
jumlah = []

for i in range(1,len(lst)):
    if lst[i][3] > 54.05263157894737:
        jumlah.append(str(lst[i][0]))
   
print('Nilai Rata-Rata QuiZ 1 Adalah 54.05263157894737')
print('NIM yang mendapatkan nilai quiz 1 di atas rata-rata adalah: ')
for i in range(len(jumlah)):
    print(jumlah[i])

Nilai Rata-Rata QuiZ 1 Adalah 54.05263157894737
NIM yang mendapatkan nilai quiz 1 di atas rata-rata adalah:
111010738
111010311
111010398
111010951
111010108
111010691
111010154
111010639
111010940
111010265
111010089
111010050
111010462
111010492
111010196
111010552
111010503
111010540
111010001
111010468

Mencari NIM dengan nilai quiz 2 di bawah median
-------------

In [16]:
jumlah = []

for i in range(1,len(lst)):
    if lst[i][4] < 61:
        jumlah.append(str(lst[i][0]))
   
print('Nilai Median Quiz 2 Adalah 61')
print("NIM yang mendapatkan nilai quiz 2 di bawah median adalah : ")
for i in range(len(jumlah)):
    print(jumlah[i])

Nilai Median Quiz 2 Adalah 61
NIM yang mendapatkan nilai quiz 2 di bawah median adalah :
111010738
111010130
111010311
111010398
111010951
111010108
111010721
111010691
111010910
111010994
111010860
111010630
111010940
111010676
111010089
111010050
111010462
111010883
111010196
111010552
111010540
111010001
111010870
111010468

Mencari NIM dengan nilai tugas 1 di bawah median
-----------------

In [17]:
jumlah = []

for i in range(1,len(lst)):
    if lst[i][1] < 50:
        jumlah.append(str(lst[i][0]))
   
print('Nilai Median Tugas 1 adalah 50')
print('NIM yang mendapatkan nilai tugas 1 di bawah median adalah :')
for i in range(len(jumlah)):
    print(jumlah[i])

Nilai Median Tugas 1 adalah 50
NIM yang mendapatkan nilai tugas 1 di bawah median adalah :
111010072
111010311
111010398
111010108
111010261
111010630
111010883
111010552
111010199

Mencari NIM dengan nilai tugas 2 di atas rata-rata
------------

In [18]:
jumlah = []

for i in range(1,len(lst)):
    if lst[i][2] > 48.18421052631579:
        jumlah.append(str(lst[i][0]))
   
print('Nilai Rata-Rata Tugas 2 adalah 48.18421052631579')
print('NIM yang mendapatkan nilai tugas 2 di atas rata-rata adalah: ')
for i in range(len(jumlah)):
    print(jumlah[i])

Nilai Rata-Rata Tugas 2 adalah 48.18421052631579
NIM yang mendapatkan nilai tugas 2 di atas rata-rata adalah:
111010130
111010072
111010398
111010951
111010944
111010456
111010721
111010691
111010910
111010994
111010103
111010077
111010209
111010639
111010265
111010462
111010196
111010503
111010199
111010468

Mencari NIM dengan nilai Uas/nilai akhir di bawah rata-rata
--------------

In [19]:
jumlah = []

for i in range(1,len(lst)):
    if lst[i][6] < 42.421052631578945:
        jumlah.append(str(lst[i][0]))
   
print('Nilai Mean UAS/Nilai Akhir adalah 42.421052631578945')
print('NIM yang mendapatkan nilai UAS/Nilai Akhir di bawah rata-rata adalah: ')
for i in range(len(jumlah)):
    print(jumlah[i])

Nilai Mean UAS/Nilai Akhir adalah 42.421052631578945
NIM yang mendapatkan nilai UAS/Nilai Akhir di bawah rata-rata adalah:
111010130
111010072
111010951
111010631
111010721
111010910
111010994
111010261
111010103
111010154
111010209
111010940
111010676
111010089
111010050
111010503
111010540
111010468